<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.gwangjugameapp">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:lockTaskMode="always"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:showWhenLocked="true"
        android:turnScreenOn="true"
        android:showOnLockScreen="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:immersive="true"
        android:theme="@style/Theme.GwangjuGameApp">
        <activity android:name=".MainActivity"
            android:lockTaskMode="always"
            android:launchMode="standard"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:showOnLockScreen="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:lockTaskMode="always"
            android:launchMode="singleInstance"
            android:name=".Memo"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:showOnLockScreen="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GwangjuGameApp" />
        <activity
            android:lockTaskMode="always"
            android:launchMode="standard"
            android:name=".Map"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:showOnLockScreen="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GwangjuGameApp" />
    </application>
</manifest>